<style>
    .card-link-parent{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
       
    }
    .card-link{
        color: #6c757d!important;
    }
</style>
<div class="container">
<div class="card" style="width: 30rem; height: 30rem; ">
  
    <div class="card-body">
        <h5 class="card-title" style="padding: 20px;">Đăng nhập với tư cách</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="padding: 20px;">Option here<i class="fas fa-sign-in-alt"></i></h6>
        <div class="card" style="padding: 20px  20px 20px 0; margin-left: 10px;">
     
            <div class="card-link-parent">
                 <a href="#" class="card-link" >Sinh viên</a>
             </div>
        
            <div class="card-link-parent">
                <a href="#" class="card-link" >Giảng viên</a>
            </div>

            <div class="card-link-parent">
                <a href="#" class="card-link" >Card link</a>
            </div>
            
            <div class="card-link-parent">
                <a href="#" class="card-link" >Another link</a>
            </div>
        </div>

 
</div>
</div>