<table class="table mytable">
    <thead>
        <tr>
            <th scope="col">#
                Mã môn học
            </th>
            <th scope="col">Tên môn học</th>
            <th scope="col">Học kỳ</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <th scope="row">{{this.subjectID}}</th>
            <td>{{this.subjectName}}</td>
            <td>{{this.semester}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
